.fixed-top {
    border: 1px solid red;
    background-color: aqua;
}


/* ------------------ */

.testimonial::before {
    background: rgb(10 10 10 / 52%);
    z-index: -1;
}

.testimonial {
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    /* background: linear-gradient(#01579B, #03A9F4); */
    background-repeat: no-repeat;
}

.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* box-shadow: 0px 4px 8px 0px #283593; */
}

.card-0 {
    color: transparent;
    background-color: #536DFE;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px;
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
}

.profile {
    color: #000;
    /* background-color: #FFD54F; */
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* border-bottom-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px;
}

.content {
    margin-left: 150px;
    margin-right: 80px;
    border: 1px solid rebeccapurple;
    position: absolute;
    top: 20%;
    /* left: 50% */
}

.close-quotes {
    margin-bottom: 100px;
    margin-right: 60px
}

.card {
    background-color: transparent;
}

.profile {
    background-color: transparent;
}

.fa-quote-left:before {
    content: "ÔÑç";
}

.fa-quote-left {
    color: #000;
}

.content::before {
    content: open-quote;
}

.content::after {
    content: close-quote;
}

.fa-quote-left {
    border: 1px solid yellow;
    text-align: left;
    position: absolute;
    left: 150px;
    top: 40px;
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px;
    }
    .card-0 {
        min-height: 432px;
    }
    .profile {
        top: 24%;
    }
    .profile-pic {
        width: 90px;
        height: 90px;
    }
    .open-quotes {
        margin-left: 100px;
    }
    .content {
        margin-left: 120px;
        margin-right: 50px;
    }
    .close-quotes {
        margin-right: 30px
    }
}